.header {
  background-color: rgba(247, 247, 247, 0.9);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
}

.brandLink {
  color: #007bff;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.link {
  
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover, .link:focus {
  
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

/* Mobile-first styles */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Tablet and larger devices */
@media (min-width: 600px) {
  .nav {
    flex-direction: row;
  }
}
