.header {
  background-color: rgba(247, 247, 247, 0.9);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
}

.brandLink {
  color: #007bff;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.35rem;
  transition: color 0.3s;
}

.link:hover, .link:focus {
  color: var(--link-color-hover);
}

.button {
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-align: center;
}

.button:hover {
  background-color: var(--button-color-hover);
  color: var(--button-color-text-hover);
  border: 1px solid var(--button-border-color-hover);
}

/* Mobile-first styles */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* Tablet and larger devices */
@media (min-width: 600px) {
  .nav {
    flex-direction: row;
  }
}
