.mainContainer {
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;    
    flex-grow: 1;
    background-color: var(--background-color);
}

@media (max-width: 768px) {
    .mainContainer {
        padding: 1rem;
        margin: 1rem auto;
    }
}
